<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>

<div id="root">

</div>

<script>
window.people = "<%= asset_path('People.png')%>"
window.peoplenote = "<%= asset_path('Peoplenote.png')%>"
window.whitepeople = "<%= asset_path('whitepeople.jpg')%>"
window.message = "<%= asset_path('Message.png')%>"
window.globe = "<%= asset_path('Globe.png')%>"
window.like = "<%= asset_path('like.jpg') %>"
window.comment = "<%= asset_path('comment.png') %>"
window.pencil = "<%= asset_path('pencil.svg') %>"
window.description = "<%= asset_path('DescriptionLogo.jpg')%>"
window.pencil2 = "<%= asset_path('pencil2.jpg')%>"
window.friends = "<%= asset_path('friends.jpg')%>"
window.whiteSearch = "<%= asset_path('white-search.jpg')%>"
window.blueSearch = "<%= asset_path('blue-search.jpg')%>"
window.camera = "<%= asset_path('camera-icon.png')%>"
window.newspaper = "<%= asset_path('newspaper.jpg')%>"
</script>
